.head {
  text-align: center;
  color: var(--theme-primary);
  font-size: var(--font-size-xl);
}

.formContainer {
  .cardHeader {
    background-color: var(--theme-primary);
    color: var(--theme-on-primary);
    padding: var(--s4) var(--s5);
    border-top-left-radius: var(--radius-lg);
    border-top-right-radius: var(--radius-lg);
    h2 {
      margin-bottom: var(--s);
      font-size: var(--font-size-md);
      display: flex;
      gap: var(--s2);
      align-items: center;
    }

    p {
      margin: 0;
    }
  }

  &:global(.card) {
    border-radius: var(--radius-lg);
  }
}

.description {
  font-size: var(--font-size-sm);
}
